.container{
    display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: space-between;
  width: 10%;
  height: 90vh;
  background: transparent;
  position: fixed;
  top: 3%;
  left: 1%;
  z-index: 1000;
}
.links{
    background-color: rgb(55, 65, 81 ,0.7);
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 9999px;
    padding: 18% 12%;
    cursor: pointer;
}
.media{
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: row;
        width: 100%;
        height: 10vh;
        top: auto;
        bottom: 1%;
        left: 0%;
        padding: 0 2%;
    }
    .links {
        flex-direction: row;
        padding: 2% 8%;
        gap: 8vw;
        margin: auto;
    }
    .media {
       display: none;
    }
    .logo {
        display: none;
    }
    
}
